/********** HEADER **********/
header{
  width: 100vw;

  z-index: 2;
}

.header{
  display: flex;
  width: 100%;
  height: 5rem;

  background-color: var(--blue-black);

  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 10rem;
  margin-left: 1rem;
}

.header .profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .profile-info p {
  margin-right: 1.5rem;

  font-weight: 500;
  color: var(--grey-light);
}


.header .profile-info img{
  width: 3rem;
  height: 3rem;
  
  border-radius: 50%;
  margin-right: 1rem;
}

/********** CONTEÚDO PRINCIPAL **********/

.second-container{
  
  display: flex;
  justify-content: center;
  background-color: var(--white);
  font-weight: 500;
}

.ocupacao {
  
  display: flex;
  justify-content:center;
  color: #002A33;
  font-size: 18px;
  align-items: center;
  height: 80px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 10px;

}

.wrapper{
  align-items:center;
}


.wrapper h1 { 
 
display: flex;  
font-style: normal;
color: #002A33;
font-weight: 600;     
font-size: 14px;
line-height: 17px;
margin-bottom: 2px;
margin-left: 5px;
  
}

.unity-container {
  display: flex;
  flex-direction:row ;
  align-items:center;
  justify-content: space-around;

  width: 96vw;
  margin-bottom: 10px;
}

.unity {
  display: flex;
  flex-direction: column ;
}


.unity  img,
.unity  textarea {
  width: 10rem;
  padding: .5rem;
}

.unity textarea{
  margin:auto;
  resize: none;
  text-align: center;
  font-size: 1rem;
}

.data{
  
font-style: normal;
color: #002A33;
font-weight: 600;     
font-size: 14px;
line-height: 17px;
margin-top: 15px;
margin-bottom: 10px; 
margin-left: 5px;
  
}


.input-selector{
  
  display: flex;
  align-items:center;
  margin-top: 5px;
  margin-left: 5px;
}

.input-selector input {
  
    padding: 5px;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--grey);
    background-color: var(--grey-light);
    border: 1px solid var(--grey);
    border-radius: .5rem;
}

.continuar {
  display: flex;
  align-items:center;
  justify-content:center;
  margin-top: 40px;
}

.continuar a {
    padding: 1.1rem 2.9rem 1.1rem 2.9rem;
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid var(--orange);
    font-size: 1.8rem;
    border-radius: .5rem;
}


/********** FOOTER **********/
footer .nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: fixed;
  bottom: 0; 

  width: 100vw;
  height: 4.6rem;

  background-color: var(--blue-black);

  z-index: 2;
}

footer .nav-bar div {
  width: 90vw;

  margin-top: .2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

footer .nav-bar div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--white);
}

footer .nav-bar div a img {
  width: 1.8rem;
  height: 1.7rem;
}



/********** BREAKPOINTS **********/

@media (min-width: 800px) {
  .view {
    display: none;   
}

header{
  display: flex;
  background-color: var(--blue-black);
  justify-content: center;

}

.header{
  display: flex;
  width: 1200px;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 15rem;

}

.header .profile-info p{
  
  font-size: 20px;
}

.second-container{
  
  display: flex;
  justify-content: center;
  background-color: var(--white);
  font-weight: 500;
}


.ocupacao {
  
  display: flex;
  justify-content:center;
  color: #002A33;
  font-size: 20px;
  align-items: center;
  height: 100px;
  font-style: normal;
  font-weight: bold;

}

.wrapper h1{
  
font-style: normal;
color: #002A33;
font-weight: 600;     
font-size: 20px;
line-height: 17px;
margin-bottom: 10px;
margin-left: -40px;
  
}


.unity-container {
    display: flex;
    width: 800px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.unity img, .unity textarea {
    width: 30rem;
    padding: .5rem;
}

.unity textarea {
    margin: auto;
    resize: none;
    text-align: center;
    font-size: 2rem;
}

.data{
  
font-style: normal;
color: #002A33;
font-weight: 600;     
font-size: 20px;
line-height: 17px;
margin-top: 30px;
margin-bottom: 10px; 
margin-left: -40px;
  
}

.input-selector{
  
  display: flex;
  align-items:center;
  margin-left: -40px;
 
}

.input-selector input {
  
    width: 18rem;
    padding: 5px;
    height: 5rem;
    margin-top: 10px;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--grey);
    background-color: var(--grey-light);
    border: 1px solid var(--grey);
    margin-right: 1rem;
  
   font-size: 1.1rem;

  border-radius: .5rem;
}


.continuar {
  
  display: none;
  
}

.continuar button{

  margin-top: 10px;
  padding: 5px;
  height: 4.5rem;
  width: 25rem;

  line-height: 1.4rem;

  color: var(--white);
  
  background-color: var(--orange);

  border: 1px solid var(--orange);
  
  margin-right: 1rem;
  
  font-size: 2.5rem;

  border-radius: .5rem;
}



.input-selector select {
  
  width: 12rem;
  height: 3.5rem;

  line-height: 1.5rem;
  
  font-weight: 500;
  color: var(--grey);

  background-color: var(--grey-light);

  border: 1px solid var(--grey);
  
  margin-right: 1rem;
  
  font-size: 1.1rem;

  border-radius: .5rem;
  
}

.menu{
  display: flex;
  
}

.menu .nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
     position: fixed; 
     right: 0;
    margin-top: 35px;
    margin-right: 365px;
    width: 5.8vw;
    height: 35.6rem;
    background-color: var(--orange);
    z-index: 2;
}

.menu .nav-bar div {
  width: 90vw;

  margin-top: .2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu .nav-bar span{
  
  margin-bottom: 30px;
}

.menu .nav-bar div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--white);
}

.menu .nav-bar div a img {
  width: 3.8rem;
  height: 3.7rem;
}
    
    
    
}