body {
    background: var(--white);

    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    height: 44px;
    padding: 1rem;
    background: var(--grey-light);
    border: 1px solid var(--grey);
    border-radius: 5px;
    font-size: 1.5rem;
}

input, label {
    color: var(--grey);
}

label {
    font-size: 1.2rem;
}

.container_register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 380px;
    min-height: 640px;
    padding: 1.2rem;
}

.container_buttons_input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buttons_login_signup, .buttons_signin_forgotPassword {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.buttons_login_signup {
    margin-bottom: 2rem;
}

.buttons_login_signup button,
.buttons_signin_forgotPassword button {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.7rem;
    background: transparent;
    color: var(--grey);
}

.buttons_login_signup button:hover,
.buttons_login_signup button:active {
    border-bottom: 3px solid var(--orange);
    color: var(--orange);
}

.inputs_register {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inputs_password {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.inputs_password input {
    width: 150px;
}

.input_nickname, .input_email, .input_password, .input_confirmPassword {
    display: flex;
    flex-direction: column;
}

#button_register {
    min-width: 160px;
    height: 44px;
    align-self: center;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1.7rem;
    border-radius: 5px;
    background: var(--orange);
    color: var(--white);
}