.modal-wrapper-guidelines.active {
  visibility: visible;
  opacity: 1;
}

.modal-wrapper-guidelines {
  position: fixed;
  top: 5rem;
  left: 0;

  width: 100vw;
  height: calc(100% - 9.6rem) ;
  display: flex;

  align-items: center;

  flex-direction: column;

  background-color: var(--white);

  /* visibility: hidden;
  opacity: 0; */

  visibility: visible;
  opacity: 1;

  z-index: 1;
}

.modal-guidelines {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  flex-direction: column;

  margin-top: .8rem;
}

/***** GUIDELINES - HEADER *****/

.modal-guidelines .modal-guidelines-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: .8rem;
}

.modal-guidelines .modal-guidelines-header button { 
  width: 2.42rem;
  height: 2.42rem;

  margin-left: -9rem;
  background-color: var(--white);
}

.modal-guidelines .modal-guidelines-header span { 
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 17px;

  margin-left: 8rem;

  color: var(--grey);
}

/***** GUIDELINES - SEPARATOR *****/
.modal-guidelines .separator{
  width: 96%;

  margin-top: 1rem;

  border: .1rem solid var(--grey);

  background-color: var(--grey);
}

/***** GUIDELINES - INPUT INFO *****/
.modal-guidelines .input-info input {
  width: 10.1rem;
  height: 2.3rem;
  
  padding: .2rem;

  font-size: 1rem;
  text-align: center;
  color: var(--white);

  margin-top: .5rem;

  background-color: var(--blue-black);
}

/***** GUIDELINES - CONTEÚDO PRINCIPAL *****/

.modal-guidelines .guidelines-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 94%;
}

.modal-guidelines .guidelines {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1.5rem;
}

.modal-guidelines .guidelines p{
  color: var(--grey);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.46rem;

  margin-left: 1rem;
}

/***** GUIDELINES - FOOTER *****/

.modal-guidelines .modal-guidelines-submit {
  text-decoration: none;

  background-color: var(--orange);

  color: white;
  font-size: 1.6rem;

  margin-top: 3rem;

  padding: 1.1rem 1.9rem 1.1rem 1.9rem;

  border-radius: .5rem;
}