/* .modal-wrapper.active {
  visibility: visible;
  opacity: 1;
}

.modal-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;

  background-color: rgba(73, 74, 77, 0.8);

  visibility: visible;
  opacity: 1;

  z-index: 1;
} */

/* .modal-wrapper .modal {
  width: 100%;
  max-width: 31rem;
  height: 42rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 6rem;
  
  background-color: var(--white);

  border-radius: 0.5rem;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
} */

/********** MODAL - HEADER **********/

.modal-wrapper .modal-header {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal-wrapper .modal-header .back {
  background-color: var(--white);
}

.modal-wrapper .modal-header .back img{
  width: 2.2rem;
  margin-left: 1rem;

  transform: translateY(5%);
}

.modal-wrapper .modal-header span{
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--grey);

  margin-top: .2rem;
  margin-left: 2rem;
}

.modal-wrapper .modal .separator {
  width: 92%;

  margin-top: 1.7rem;

  border: .12rem solid var(--grey);

  border-radius: 2rem;
  background-color: var(--grey);
}

/********** MODAL - CONTEÚDO PRINCIPAL **********/

.modal-wrapper .modal .table-content {
  margin-top: 1rem;
}

.modal-wrapper .modal .place01,
.modal-wrapper .modal .place02 {
  display: flex;
  flex-direction: column;
}

.modal-wrapper .modal .place01 .place01-1,
.modal-wrapper .modal .place01 .place01-2,
.modal-wrapper .modal .place02 .place02-1,
.modal-wrapper .modal .place02 .place02-2 {
  display: flex;
  justify-content: space-between;
}

.modal-wrapper .modal .place02 {
  margin-top: 2rem;
}

.modal-wrapper .modal .table-available,
.modal-wrapper .modal .table-unavailable,
.modal-wrapper .modal .table-filled {
  padding: .2rem;
}

.modal-wrapper .modal .table-filled {
  width: 2.2rem;
  transform: translateY(-10%);
}

.modal-wrapper .modal .table-separator {
  width: 100%;
  height: 2rem;

  border: .2rem solid var(--grey); 
  border-radius: .5rem;
}

/********** MODAL - FOOTER **********/

.modal-wrapper .modal .modal-footer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 75% 25%;
}

.modal-wrapper .modal .modal-footer .table-subtitle,
.modal-wrapper .modal .modal-footer .table-subtitle div{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}


.modal-wrapper .modal .modal-footer .my-schedules button.continue {
  width: 12rem;
 
  margin-top: 1rem;

  background-color: var(--orange);
  color: var(--white);

  padding: 1rem;
  border-radius: .5rem;
}

.modal-wrapper .modal .modal-footer .my-schedules .container-table-selected, 
.modal-wrapper .modal .modal-footer .my-schedules span,
.modal-wrapper .modal .modal-footer .my-schedules button.continue {
  margin-right: 2rem;
}

.modal-wrapper .modal .modal-footer .my-schedules .table-selected img,
.modal-wrapper .modal .modal-footer .table-subtitle div .star1 {
  width: 1.2rem;
}

.modal-wrapper .modal .modal-footer .table-subtitle {
  margin-top: 1.2rem;
}

.modal-wrapper .modal .modal-footer .table-subtitle > span {
  font-weight: 600;
  font-size: 1.2rem;

  color: var(--grey);

  margin-top: .2rem;
}

.modal-wrapper .modal .modal-footer .table-subtitle div {
  padding: .2rem;

  margin-top: 1rem;

  border: 1px solid var(--grey);
  border-radius: .5rem;
}

.modal-wrapper .modal .modal-footer .table-subtitle .orange1{
  width: 2.1rem;
  transform: translateX(18%);
}

.modal-wrapper .modal .modal-footer .table-subtitle div .span1 {
  color: var(--orange);
}

.modal-wrapper .modal .modal-footer .table-subtitle div .span2 {
  color: var(--green);
}

.modal-wrapper .modal .modal-footer .table-subtitle div .span3 {
  color: var(--grey);
}

.modal-wrapper .modal .modal-footer .table-subtitle div .span4 {
  color: var(--blue);
}