/********** HEADER **********/
header{
  width: 100vw;

  z-index: 2;
}

input {
    width: 100%;
    height: 44px;
    padding: 1rem;
    background: var(--grey-light);
    border: 1px solid var(--grey);
    border-radius: 5px;
    font-size: 1.5rem;
}

input, label {
    color: var(--grey);
}

label {
    font-size: 1.2rem;
}

.container_register {
    width: 380px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1.2rem;
    background: var(--white);
}

.container_buttons_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.buttons_login_signup, .buttons_signin_forgotPassword {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.buttons_login_signup {
    margin-bottom: 2rem;
}

.buttons_login_signup button,
.buttons_signin_forgotPassword button {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.7rem;
    background: transparent;
    color: var(--grey);
}

.buttons_login_signup button:hover,
.buttons_login_signup button:active {
    border-bottom: 0.3rem solid var(--orange);
    color: var(--orange);
}

.inputs_register {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inputs_password {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.input_password, .input_confirmPassword {
    width: 100%;
}

.input_nickname, .input_email, .input_password, .input_confirmPassword {
    display: flex;
    flex-direction: column;
}

#button_register {
    width: 15rem;
    height: 4.4rem;
    align-self: center;
    font-weight: 700;
    font-size: 1.7rem;
    border-radius: 5px;
    background: var(--orange);
    color: var(--white);
}


.header{
  display: flex;
  width: 100%;
  height: 5rem;

  background-color: var(--blue-black);

  align-items: center;
  justify-content: space-between;
}

.menu{
  
  display: none;
}

.perfil{
  
  display: flex;
  justify-content: center;
 
}

.perfil img{
    display: flex;
   align-items: center;
    justify-content: center;
   width: 8rem;
   padding-top: 10px;
  
}

.foto {
  display: flex;
  color:var(--orange);
  align-items: center;
  justify-content: center;
   flex-direction: column;
   margin-top: 5px;
   font-size: 14px;
 
}

.header img {
  width: 10rem;
  margin-left: 1rem;
}

.header .profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .profile-info p {
  margin-right: 1.5rem;

  font-weight: 500;
  color: var(--grey-light);
}


.header .profile-info img{
  width: 3rem;
  height: 3rem;
  
  border-radius: 50%;
  margin-right: 1rem;
}

/********** CONTEÚDO PRINCIPAL **********/

.second-container{
  
  display: flex;
  justify-content: center;
  background-color: var(--white);
  font-weight: 500;

}

.ocupacao {
  
  display: flex;
  justify-content:center;
  margin-top: .8rem;
  align-items: center;

}


.ocupacao button { 
  width: 2.42rem;
  height: 2.42rem;

  background-color: var(--white);
}

.ocupacao span { 
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 17px;
  margin-left: 1.5rem;

  color: var(--grey);
}

.separator{
  display: flex;
  width: 98%;
  margin-top: 1.2rem;

  border: .1rem solid var(--grey);

  background-color: var(--grey);
}



.input-selector {
    display: flex;
    align-items: center;
    margin-top: 12px;
   justify-content: center;
}


.input-selector select {
  
    width: 13rem;
    height: 3.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--grey);
    background-color: var(--grey-light);
    border: 1px solid var(--grey);
    margin-right: 1rem;
    font-size: 1.1rem;
    border-radius: .5rem;
}


.continuar {
  display: flex;
  align-items:center;
  justify-content:center;
  margin-top: 40px;
}

.continuar a {
    padding: 1.1rem 2.9rem 1.1rem 2.9rem;
    color: var(--white);
    background-color: var(--orange);
    border: 1px solid var(--orange);
    font-size: 1.8rem;
    border-radius: .5rem;
}


/********** FOOTER **********/
footer .nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: fixed;
  bottom: 0; 

  width: 100vw;
  height: 4.6rem;

  background-color: var(--blue-black);

  z-index: 2;
}

footer .nav-bar div {
  width: 90vw;

  margin-top: .2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

footer .nav-bar div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--white);
}

footer .nav-bar div a img {
  width: 1.8rem;
  height: 1.7rem;
}



/********** BREAKPOINTS **********/



/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 340px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .view {
    display: none;   
}

.separator {
    display: flex;
    width: 98%;
    width: 600px;
    margin-top: 1.2rem;
    border: .1rem solid var(--grey);
    background-color: var(--grey);

}

.container_buttons_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 500px;
}

.unity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.wrapper h1 {
    display: flex;
    font-style: normal;
    color: #002A33;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 2px;
    margin-left: 155px;
}

.data {
    font-style: normal;
    color: #002A33;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 155px;
}

.input-selector {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
}



.select img {
    display: flex;
    flex-direction: row;
    width: 18rem;
    padding: 4px;
    filter: grayscale(100%);
    transition: .1s;
}

.continuar {

    margin-top: 40px;
}

.menu{
  display: flex;
  
}

.menu .nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
     position: fixed; 
     right: 0;
    margin-top: -90px;
    margin-right: 5px;
    width: 12.8vw;
    height: 35.6rem;
    background-color: var(--orange);
    z-index: 2;
}

.menu .nav-bar div {
  width: 90vw;

  margin-top: .2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu .nav-bar span{
  
  margin-bottom: 30px;
}

.menu .nav-bar div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--white);
}

.menu .nav-bar div a img {
  width: 3.8rem;
  height: 3.7rem;
}



} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) {
  
  .unity img, .unity textarea {
    width: 22rem;
    padding: .5rem;
}


.unity textarea {
    margin: auto;
    resize: none;
    text-align: center;
    font-size: 1.9rem;
}



.menu .nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    margin-top: -90px;
    margin-right: 5px;
    width: 9.9vw;
    height: 35.6rem;
    background-color: var(--orange);
    z-index: 2;
}
  

} 


@media only screen and (min-width: 1200px) {
  
  .unity img, .unity textarea {
    width: 22rem;
    padding: .5rem;
}

.wrapper h1 {
    display: flex;
    font-style: normal;
    color: #002A33;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 2px;
    margin-left: 255px;
}


.data {
    font-style: normal;
    color: #002A33;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 255px;
}

.input-selector {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
 }

.menu .nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    margin-top: -90px;
    margin-right: 5px;
    width: 9.9vw;
    height: 35.6rem;
    background-color: var(--orange);
    z-index: 2;
}
  

  
}  


@media only screen and (min-width: 1800px) {
  
  .unity img, .unity textarea {
    width: 22rem;
    padding: .5rem;
}

.wrapper h1 {
    display: flex;
    font-style: normal;
    color: #002A33;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 2px;
    margin-left: 545px;
}

.data {
    font-style: normal;
    color: #002A33;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 545px;
}

.input-selector {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;

}

.menu .nav-bar {

    width: 9.9vw;

}
  
  
  
}  


@media (min-width: 1920px) {
  .view {
    display: none;   
}


header{
  display: flex;
  background-color: var(--blue-black);
  justify-content: center;

}

.header{
  display: flex;
  width: 1200px;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 15rem;

}


.header .profile-info p{
  
  font-size: 20px;
}

.second-container{
  
  display: flex;
  justify-content: center;
  background-color: var(--white);
  font-weight: 500;
}


.ocupacao {
  
    display: flex;
    justify-content: flex-end;
    margin-top: .8rem;
    align-items: center;
    width: 1200px;
}

.separator{
  
   width: 100%;
  
}
 


.ocupacao button { 
  width: 2.42rem;
  height: 2.42rem;

  margin-left: -2rem;
  background-color: var(--white);
}

.ocupacao span { 
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 17px;
  margin-left: 2rem;

  color: var(--grey);
}

.wrapper h1{
  
font-style: normal;
color: #002A33;
font-weight: 600;     
font-size: 20px;
line-height: 17px;
margin-bottom: 10px;

  
}


.input-info {
    margin-left: 90px;
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
}

.input-info input {
    width: 20rem;
    height: 4rem;
    padding: .5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--white);
    margin-top: .5rem;
    margin-left: 10px;
    background-color: var(--blue-black);
}

.continuar {
  
  display: none;
  
}

.continuar button{

  margin-top: 10px;
  padding: 5px;
  height: 4.5rem;
  width: 25rem;

  line-height: 1.4rem;

  color: var(--white);
  
  background-color: var(--orange);

  border: 1px solid var(--orange);
  
  margin-right: 1rem;
  
  font-size: 2.5rem;

  border-radius: .5rem;
}



.menu{
  display: flex;
  
}

.menu .nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
     position: fixed; 
     right: 0;
    margin-right: 360px;
    width: 5.8vw;
    height: 35.6rem;
    background-color: var(--orange);
    z-index: 2;
}

.menu .nav-bar div {
  width: 90vw;

  margin-top: .2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu .nav-bar span{
  
  margin-bottom: 30px;
}

.menu .nav-bar div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--white);
}

.menu .nav-bar div a img {
  width: 3.8rem;
  height: 3.7rem;
}

.input-selector select {
    width: 30rem;
    height: 3.5rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--grey);
    background-color: var(--grey-light);
    border: 1px solid var(--grey);
    margin-right: 1rem;
    font-size: 2.1rem;
    border-radius: .5rem;
}

.ocupacao span {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 17px;
    margin-left: 2rem;
    color: var(--grey);
}

.perfil img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    padding-top: 20px;
}

label {
    font-size: 2.2rem;
}
    
.foto{
  
     font-size: 20px;
} 

.container_buttons_input {
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}


.inputs_register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin-left: 300px;
    gap: 2rem;
}   


#button_register {

    margin-right: -590px;

}
    
}
  
  
  