* {
  box-sizing: border-box;
  outline: 0;
}

body {
  font: 14px sans-serif;
}

#root {
  margin: 0 auto;
  max-width: 330px;
  width: 100%;
  padding: 40px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

form p {
  margin-top: 10px;
}

form img {
  align-self: center;
  margin-bottom: 30px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 2px solid #ddd;
  font-size: 15px;
  color: #444;
  transition: border-color 0.2s;
}

input:focus {
  border-color: #fe5517;
}

button {
  display: block;
  background: #fe5517;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  padding: 16px;
  font-weight: bold;
  font-size: 15px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #fe662e;
}
